/* Slider */
.slick-slider
{
    position: relative;

    display: block;

    -moz-box-sizing: border-box;
         box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    margin-top: -10px\9; /*lte IE 8*/
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}

/* Dots */
.slick-slider
{

}

.slick-dots
{
    position: absolute;
    bottom: -45px;

    display: block;

    width: 100%;
    padding: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}
body,
div,
ul,
ol,
li,
input,
button
{
    margin: 0;
    padding: 0
}



fieldset,
img {
    border: 0
}

img {
    max-width: 100%;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}



.slide .slide-body {
    position: relative;
    overflow: hidden;
    height: 250px;
}


.slide .slide-body .slide-scroll .item {
    position: relative;
    float: left;
    
}
.slide .slide-body .slide-scroll .item span.status{
    position: absolute;
bottom: 5px;
right: 10px;
background: rgba(0, 0, 0, 0.53) none repeat scroll 0% 0%;
color: #FFF;
padding: 4px 10px;
font-style: italic;
}
.slide .slide-body .slide-scroll .item span.status p{
line-height: 17px;
height: 7px;
}
.slide .slide-body .slide-scroll .item:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    -moz-opacity: 0;
    -khtml-opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out
}

.slide .slide-body:hover .slide-scroll .item:before {
    opacity: 1;
    -moz-opacity: 1;
    -khtml-opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    z-index: 999999
}
.slide .slide-body.non-opacity .slide-scroll .item:before{display:none!important}
.slide .slide-body.non-opacity .icon-arrow{display:none!important}
.slide .slide-body .icon-arrow {
    position: absolute;
    top: 50%;
    margin-top: -25px;
    width: 50px;
    height: 50px;
    z-index: 9999999;
    opacity: 0.7;
    -moz-opacity: 0.7;
    -khtml-opacity: 0.7;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out
}

.slide .slide-body .icon-arrow:hover {
    opacity: 1;
    -moz-opacity: 1;
    -khtml-opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100)
}

.slide .slide-body .icon-arrow.prev {
    left: -50px;
    background-position: 0 -60px
}

.slide .slide-body .icon-arrow.next {
    right: -50px;
    background-position: 0 -110px
}

.slide .slide-body .slide-direction {
    text-align: center;
    position: absolute;
    bottom: 15px;
    width: 100%;
    z-index: 99
}

.slide .slide-body .slide-direction span {
    display: block;
    width: 8px;
    height: 8px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
    margin-left: 10px
}

.slide .slide-body .slide-direction span:first-child {
    margin-left: 0
}
.slide .slide-thumb-new{
    width:100%;
}
.slide .slide-thumb-new ul{width:100%;text-align: center;}
.slide .slide-thumb-new li {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    border: 2px solid transparent;
    margin-left: 3px
}

.slide .slide-thumb-new li.active, .slide .slide-thumb-new li:hover {
    position:relative;
    border: 2px solid #fff;
    cursor: pointer
}
.slide .slide-thumb-new li.active:before, .slide .slide-thumb-new li:hover:before{
    position:absolute;top:0;left:0;content:"";background-color:rgba(114,23,153,0.3);width:100%;height:100%;
}

.slide .slide-thumb {
    margin-left: 0px;
    text-align: center;
    z-index: 1;
    position: absolute;
    bottom: 16px;
}

.slide .slide-thumb li {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    float: left;
    width: 45px!important;
    margin-left: 7px;
    border: 1px solid #dfdfdf;
    overflow: hidden;
    height:45px;
    border-radius: 45px;
}

.slide  .slide-thumb li.active,
.slide  .slide-thumb li:hover {
    position:relative;
    cursor: pointer
}
.slide  .slide-thumb li.active:before, .slide  .slide-thumb li:hover:before{position:absolute;top:0;left:0;content:"";background-color:rgba(114,23,153,0.2);width:100%;height:100%;}

.slide .slide-body .slide-thumb li:first-child {
    margin-left: 0
}

.slide:hover .slide-body .item:before {
    display: block
}

.slide:hover .slide-body .icon-arrow.prev {
    left: 10px
}

.slide:hover .slide-body .icon-arrow.next {
    right: 10px
}

.slide .slide-body {
    overflow: hidden
}

.full-section:hover .direction-slide-2 {
    display: block
}

.direction-slide-2 {
    display: none
}

.direction-slide-2 a {
    width: 28px;
    height: 28px;
    background: #f2f6f7;
    position: absolute;
    top: 50%;
    display: block;
    z-index: 99;
    margin-top: -14px
}

.direction-slide-2 a span {
    display: block;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 2px;
    left: 1px
}

.direction-slide-2 a.next-button {
    right: 45px
}

.direction-slide-2 a.next-button span {
    background-position: -25px -1484px
}

.direction-slide-2 a.prev-button {
    left: 0
}

.direction-slide-2 a.prev-button span {
    background-position: 0 -1484px
}

.direction-slide-2 a.disabled {
    pointer-events: all !important
}

.out-direction {
    overflow: visible
}

.out-direction .direction-slide-2 {
    display: block
}

.out-direction .direction-slide-2 a {
    width: 20px;
    height: 30px;
    background: transparent;
    z-index: 99;
    margin-top: -20px;
    opacity: 0.7;
    -moz-opacity: 0.7;
    -khtml-opacity: 0.7;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70)
}

.out-direction .direction-slide-2 a:hover {
    opacity: 1;
    -moz-opacity: 1;
    -khtml-opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100)
}

.out-direction .direction-slide-2 a span {
    display: block;
    position: absolute;
    top: 5px;
    left: 4px;
    width: 12px;
    height: 20px;
    background-image: url("../images/icon-direct.png");
    background-repeat: no-repeat
}

.out-direction .direction-slide-2 a.next-button {
    right: -30px
}

.out-direction .direction-slide-2 a.next-button span {
    background-position: -12px 0
}

.out-direction .direction-slide-2 a.prev-button {
    left: -30px
}

.out-direction .direction-slide-2 a.prev-button span {
    background-position: 0 0
}
.block.movie-kinhdien {
    position: relative;
}